@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Darker Grotesque', sans-serif;
}

h6{
    font-size: 24px;
    font-weight: 800;
}

p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 1rem;
}

.container {
	max-width: 1140px;
}

.transition-all {
	transition: all 0.2s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}